DATABASE = .................................................................
TOKEN_SECRET = .............................................................
BASE_URL = .................................................................
GOOGLE_CLOUD_CLIENT = ......................................................
GOOGLE_CLOUD_SECRET = ......................................................
MAIN_EMAIL = ...............................................................
GOOGLE_CLOUD_REFRESH = .....................................................